<!-- NAVBAR DE PRUEBA -->
<nav class="navbar navbar-expand-lg navbar-dark bg-prof py-3">
  <div class="container-fluid">

    <!-- Logo / Marca -->
    <a class="navbar-brand fw-bold" routerLink="/">E-Commerce</a>

    <!-- Botón collapse para pantallas pequeñas -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNav" aria-controls="navbarNav"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links del navbar -->
    <div class="collapse navbar-collapse" id="navbarNav">

      <!-- Links a la izquierda -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link px-3" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-3" routerLink="/registroUsuario" routerLinkActive="active">Registro Usuario</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-3" routerLink="/registroCategoria" routerLinkActive="active">Registro Categoría</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-3" routerLink="/registroProducto" routerLinkActive="active">Registro Producto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-3" routerLink="/ruta-no-existe" routerLinkActive="active">404</a>
        </li>
      </ul>

      <!-- Separación y "Iniciar Sesión" -->
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-lg-center">
        <li class="nav-item separator d-none d-lg-block"></li>
        <li class="nav-item">
          <a class="nav-link px-3 btn btn-outline-light rounded text-start" routerLink="/login" routerLinkActive="active">Iniciar Sesión</a>
        </li>
      </ul>

    </div>
  </div>
</nav>
